html, body {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 10pt;
}
h1 {
	-webkit-user-select: none;
	border-bottom: 1px solid #EEE;
	color: #53637D;
	font-size: 190%;
	font-weight: normal;
	margin: 0;
	padding-bottom: 4px;
	padding-top: 11px;
	-webkit-padding-end: 24px;
	text-shadow: white 0 1px 2px;
}
h2 {
	color: #53637D;
	font-size: 120%;
	padding: 0;
	margin: 2em 0 0.3em 0;
	font-weight: bold;
}
h3 {
	font-size: 100%;
	padding: 0;
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	font-style: italic;
}
section {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	padding-left: 2em;
}
.content h1 {
	margin-bottom: 1.8em;
}
p {
	margin: 0;
	padding: 0;
	padding-bottom: 0.7em;
}
p.messagebox {
	position: absolute;
	border-radius: 3px;
	padding: 2px;
}
.formerror {
	background-color: #FDD;
	border: 1px solid #FAA;
}
.formsuccess {
	background-color: #DFD;
	border: 1px solid #AFA;
}
#error {
	margin: 20px;
}
#navbar-container {
	-webkit-border-end: 1px solid #c6c9ce;
	background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEEF3), -webkit-linear-gradient(left, #EAEEF3, #EAEEF3 97%, #D3D7DB);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	padding: 0;
	width: 216px;
	text-align: right;
}
#navbar-container h1 {
	height: 2.2em;
}
#navbar-container img.extension-icon {
	margin: 10px;
}
#nav {
	list-style: none;
	width: 100%;
	padding: 0;
}
#nav li {
	margin: 0;
	padding: 0;
	width: 100%;
	display: none;
}
#nav a {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	color: #426DC9;
	cursor: pointer;
	display: block;
	font-size: 105%;
	outline: none;
	padding: 7px 0;
	text-align: end;
	text-shadow: white 0 1px 1px;
	-webkit-padding-end: 24px;
	text-decoration: none;
}
#nav a.selected {
	-webkit-box-shadow: 0px 1px 0px #f7f7f7;
	background: -webkit-linear-gradient(left, #BBCEE9, #BBCEE9 97%, #AABEDC);
	border-bottom: 1px solid #8FAAD9;
	border-top: 1px solid #8FAAD9;
	color: black;
	text-shadow: #BBCEE9 0 1px 1px;
}
#wrapper {
	padding-left: 245px;
	width: 600px;
	padding-bottom: 5em;
}
div.content {
	display: none;
}
div#error {
	display: block;
}
fieldset {
	position: relative;
	border: none;
	border-bottom: 1px solid #EEE;
	padding: 2em 0 1.5em 160px;
}
fieldset table {
	font-size: 90%;
}
legend {
	position: absolute;
	left: 0;
	top: 32px;
	font-weight: bold;
	cursor: default;
}
label {
	cursor: default;
	font-size: 13px;
}

.center {
	text-align: center;
}

#exportfield, #importfield, #extractfield {
	width: 420px;
	height: 100px;
}

#viewdatadiv ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#viewdatadiv li {
	margin-left: 10px;
}
#viewdatadiv .foldertitle {
	font-weight: bold;
}
#viewdatadiv ul.viewtree-html div,#viewdatadiv ul.viewtree-ubb div {
	margin-left: 10px;
}

ul#listheader {
	padding: 0;
	list-style-type: none;
}
ul#listheader li {
	display: block;
	float: left;
	float: left;
	font-size: 120%;
	width: 50%;
	text-align: center;
}

fieldset ul {
	list-style-type: none;
	padding: 0;
}

fieldset ul li {
	margin-bottom: 1em;
}

input.numeric {
	width: 4ex;
	text-align: right;
}
.hidden {
	display: none;
}
.message {
	border-radius: 4px;
	margin: 10px;
	padding: 5px;
	position: relative;
	text-align: center;
}
.notice {
	background-color: #C2E0FF
}
.warning {
	background-color: #f9ec94;
}
.success {
	background-color: #d5f994;
}
.error {
	background-color: #f4a19a;
}
.message p {
	margin: 0 20px 0 0;
	padding: 0;
}
.message input {
	position: absolute;
	display: block;
	top: 4px;
	right: 4px;
	width: 16px;
	border: none;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	background-color: rgba(255,255,255,0.4);
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.3);
	cursor: pointer;
	color: rgba(0,0,0,0.4);
	font-weight: bold;
}
.message input:hover {
	background-color: rgba(255,255,255,0.6);
	border-color: rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.3);
}

/* Nestable CSS */ 
.dd {
	width: 49%;
	float: left;
}

#importexport-right {
	margin-left: 2%;
}

.dd-parent > .dd-handle {
	background-image: url('../images/icon-folder.png');
	background-image: url('../images/icon-folder.png'), #fafafa;
    background-image: url('../images/icon-folder.png'), -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background-image: url('../images/icon-folder.png'),    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background-image: url('../images/icon-folder.png'),         linear-gradient(top, #fafafa 0%, #eee 100%);
	background-position: 2 2;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.dd-collapsed > .dd-handle {
	background-image: url('../images/icon-folder-collapsed.png');
	background-image: url('../images/icon-folder-collapsed.png'), #fafafa;
    background-image: url('../images/icon-folder-collapsed.png'), -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background-image: url('../images/icon-folder-collapsed.png'),    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background-image: url('../images/icon-folder-collapsed.png'),         linear-gradient(top, #fafafa 0%, #eee 100%);
}

/* set list width */
.dd { max-width: 300px; }

.dd,
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }

/* set indent between subsequent levels */
.dd-list .dd-list { margin-left: 10px; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0;
	color: #333; text-decoration: none; font-size: 11px;
	line-height: 15px; min-height: 15px; /* set item height using these values */
}

/* use below CSS to limit item height to one line */
.dd-handle {
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.dd-item,
.dd-placeholder  {
	margin-top: 2px; /* use this margin to increase vertical spacing between items */
}

.dd-handle { display: block; cursor: move; margin: 0; padding: 2px 4px; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
		 box-sizing: border-box;
	-moz-box-sizing: border-box;
}
:not(.dd-protected) > li > .dd-handle:hover {
	color: #2ea8e5;
	background: white;
}
:not(.dd-protected) > .dd-parent > .dd-handle:hover {
	background: #fff url('../images/icon-folder.png') 2px 2px no-repeat;
}
:not(.dd-protected) > .dd-collapsed > .dd-handle:hover {
	background: #fff url('../images/icon-folder-collapsed.png') 2px 2px no-repeat;
}
.dd-collapsedhover > .dd-handle{
	background-image: url('../images/icon-folder-collapsed.png');
	background-image: url('../images/icon-folder-collapsed.png'), #fafafa;
    background-image: url('../images/icon-folder-collapsed.png'), -webkit-linear-gradient(top, #fff 0%, #cdf 100%);
    background-image: url('../images/icon-folder-collapsed.png'),    -moz-linear-gradient(top, #fff 0%, #cdf 100%);
    background-image: url('../images/icon-folder-collapsed.png'),         linear-gradient(top, #fff 0%, #cdf 100%);
	border-color: #9bd;
}

.dd-protected > li > .dd-handle:hover {
	cursor: default;
}

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 20px; height: 20px; margin: 5px; padding: 0; overflow: hidden; background: transparent; border: none; line-height: 20px; text-align: center; font-weight: bold; }

.dd-placeholder { border: 1px dashed #bbb; box-sizing: border-box; -moz-box-sizing: border-box;}
.dd-empty { border: 1px dashed #bbb; min-height: 100px; box-sizing: border-box; -moz-box-sizing: border-box;}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999;}
.dd-dragel > .dd-item { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}