html, body, form, ul, li, a, img {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	width: 400px;
	margin: 0 auto;
	padding: 0;
	color: #335;
	font-family: Tahoma;
	font-size: 10pt;
	line-height: 20px;
	background-color: #CFCFCF;
}
div#itemlist {
	width: 100%;
}
.message {
	border-radius: 4px;
	margin: 2px;
	padding: 2px;
	position: relative;
}
.notice {
	background-color: #C2E0FF
}
.warning {
	background-color: #f9ec94;
}
.success {
	background-color: #d5f994;
}
.error {
	background-color: #f4a19a;
}
.message p {
	margin: 0 20px 0 0;
	padding: 0;
}
.message input {
	position: absolute;
	display: block;
	top: 4px;
	right: 4px;
	width: 16px;
	border: none;
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	text-align: center;
	background-color: rgba(255,255,255,0.4);
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.3);
	cursor: pointer;
	color: rgba(0,0,0,0.4);
	font-weight: bold;
}
.message input:hover {
	background-color: rgba(255,255,255,0.6);
	border-color: rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.3);
}
div.content {
	padding: 0;
	display: none;
	background: #CFCFCF;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0px,#FEFEFE), color-stop(50px,#CFCFCF));
	background: -webkit-linear-gradient(top,  #FEFEFE 0px,#CFCFCF 50px);
	background: linear-gradient(to bottom,  #FEFEFE 0px,#CFCFCF 50px);
}
form {
	margin: 0;
	padding: 0;
}
input.bigbutton {
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#555));
	border-radius: 3px;
	border: 1px solid #999;
	cursor: pointer;
	font-family: Verdana;
	font-size: 9pt;
	line-height: 17px;
	margin: 1px 1px 3px 1px;
	color: #FFF;
}
input.bigbutton:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#555));
}
.icon {
	display: block;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid transparent;
	border-radius: 3px;
	background: transparent;
	background-repeat:	no-repeat;
}
.icon:hover {
	border-color: #CCC;
	background-color: #EEE;
}
#menubar .icon {
	position: absolute;
	top: 1px;
	width: 20px;
	height: 20px;
	padding: 20px 0 0 0;
	background-position: 1px 2px;
}
input#settingsbutton {
	right: 2px;
	background-image: url('../images/icon-settings.png');
}
input#signoffbutton {
	right: 24px;
	background-image: url('../images/icon-signoff.png');
}
#itemlist .icon {
	width: 16px;
	height: 16px;
	padding: 16px 0 0 0;
	margin: 0;
	background-position: top left
}
.dd,
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }

.dd-list .dd-list { margin-left: 10px; }

.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0;
	color: #333; text-decoration: none; font-size: 11px; line-height: 20px; min-height: 20px; }
	
.dd-block {
	position: relative;
	display: block; 
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;	border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
	overflow: hidden;
}

.dd-item > .dd-block > .dd-handle {
	float: left;
	width: 20px;
	height: 15px;
	background: transparent url('../images/icon-move.png') top left no-repeat;
}

.dd-parent > .dd-block > .dd-handle {
	background-image: url('../images/icon-folder.png');
}

.dd-collapsed > .dd-block > .dd-handle {
	background-image: url('../images/icon-folder-collapsed.png');
}

.dd-handle { cursor: move; }

:not(.dd-protected) > li > .dd-handle:hover {
	color: #2ea8e5;
	background: white;
}
:not(.dd-protected) > .dd-parent > .dd-handle:hover {
	background: #fff url('../images/icon-folder.png') 2px 2px no-repeat;
}
:not(.dd-protected) > .dd-collapsed > .dd-handle:hover {
	background: #fff url('../images/icon-folder-collapsed.png') 2px 2px no-repeat;
}

.dd-collapsedhover > .dd-block {
	background: #fafafa;
    background: -webkit-linear-gradient(top, #fff 0%, #cdf 100%);
    background:    -moz-linear-gradient(top, #fff 0%, #cdf 100%);
    background:         linear-gradient(top, #fff 0%, #cdf 100%);
	border-color: #9bd;
}

.dd-protected > li > .dd-handle:hover {
	cursor: default;
}

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 20px; height: 20px; margin: 5px; padding: 0; overflow: hidden; background: transparent; border: none; line-height: 20px; text-align: center; font-weight: bold; }

.dd-placeholder { border: 1px dashed #EEE; padding: -1px; box-sizing: border-box; -moz-box-sizing: border-box;}
.dd-empty { border: 1px dashed #bbb; min-height: 2em; box-sizing: border-box; -moz-box-sizing: border-box;}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; margin: -3px 0 0 -1px;}
.dd-dragel {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

.dd-content .label {
	display: block;
	margin-left: 20px;
	margin-right: 40px;
	text-decoration: none;
	color: black;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
}

.dd-content .icon, .dd-handle {
	position: absolute;
	top: 2px;
}

.edit {
	right: 20px;
	background: transparent url('../images/icon-edit.png') top left no-repeat;
}
.delete {
	right: 2px;
	background: transparent url('../images/icon-delete.png') top left no-repeat;
}
.editform {
	margin: 2px;
	padding: 0;
	border: none;
	height: 16px;
	position: relative;
}
.editform input {
	margin: 0px 40px 0px 15px;
	position: absolute;
	left: 0px;
	right: 0px;
	font-size: 11px;
	padding: 0;
}
.editform input#edittitle {
	z-index: 2;
}
.editform input#editurl {
	bottom: 0px;
	z-index: 1;
}
.error-overlay {
	position: absolute;
	background-color: #F99;
}